@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .material-symbols-outlined {
        font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
    }
}

body {
    background-color: #fafaf4;
    color: #1a1c19;
}